
.modal-delete-file-browser.modal.fade
	.modal-dialog
		.modal-content
			.modal-header.modal-h
				img(src="/images/SVG/modalicon/m3.svg", style="height:40px; display:inline;")
				h4(style="display:inline; vertical-align:middle;")
			.modal-body.modal-b
				input.form-control#file-text(type='text', autofocus)
				hr
				.list-group#file-list
			.modal-footer.modal-f
				button#btn-cancel(data-dismiss="modal").cancel.btn.btn-danger Cancel
				button#btn-ok.btn.btn-success OK